@using Nop.Web.Areas.Admin.Models.Customers
@model CustomerModel
@inject Nop.Plugin.Misc.BrCustomerVendorDocs.Services.BrCustomerDocumentService CustomerDocumentService
@inject Nop.Plugin.Misc.BrCustomerVendorDocs.BrCustomerVendorDocsSettings Settings
@inject Nop.Services.Localization.ILocalizationService LocalizationService

@{
    var cpf = string.Empty;
    if (Model.Id > 0)
    {
        var document = await CustomerDocumentService.GetByCustomerIdAsync(Model.Id);
        cpf = document?.Cpf ?? string.Empty;
    }
}

<div class="form-group row">
    <div class="col-md-3">
        <div class="label-wrapper">
            <label class="col-form-label">@await LocalizationService.GetResourceAsync("Plugins.Misc.BrCustomerVendorDocs.Fields.Cpf")</label>
            @if (Settings.CpfRequired)
            {
                <nop-required />
            }
        </div>
    </div>
    <div class="col-md-9">
        <input type="text" id="BrCustomerCpf" name="BrCustomerCpf" value="@cpf" class="form-control" maxlength="14" placeholder="000.000.000-00" />
        @Html.ValidationMessage("BrCustomerCpf")
        <span class="hint">@await LocalizationService.GetResourceAsync("Plugins.Misc.BrCustomerVendorDocs.Fields.Cpf.Hint")</span>
    </div>
</div>

